/* source :https://www.w3schools.com/css/css_navbar.asp */
.navbar{
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
}

.navbar a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover:not(.active) {
  background-color:  #ffffff;
  color: #000000;
}

.navbar a.active {
  background-color: #cdb4db;
}



.vernav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #cdb4db;
}

.vernav a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.vernav a:hover {
  background-color: #ffafcc;
  color: white;
}

/* J'ai utiliser hr dans le dossier style parce que comme ceci toute les hr dans mon site vont être noir et plus grands.*/
hr {
border: 1px solid black;
}

.boite {
		border: 3px solid black;
		padding: 1px;
		width: 525px;
		margin: 10px;
	}
	
.web {
  margin: 30px;
  background-color: #00adff;
}
