/* source :https://www.w3schools.com/css/css_navbar_horizontal.asp */
.navbar{
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
}

.navbar a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover:not(.active) {
  background-color:  #ffffff;
  color: #000000;
}

.navbar a.active {
  background-color: #04AA6D;
}

/* source :https://www.w3schools.com/css/css_navbar_vertical.asp */

.joli {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: white;
}

.joli a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.joli a:hover {
  background-color: black;
  color: white;
}

.joli {
  border: 1px solid #555555;
}

.joli {
  text-align: center;
  border-bottom: 1px solid #555555;
}

.joli:last-child {
  border-bottom: none;
}

.img {
	float: left;
}

